/* Landing Page Css */

.header-color {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: block;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}
.avatar-img {
  height: 250px;
  filter: blur(5px);
  transition: 0.3s ease-in-out;
}
.avatar-img:hover {
  border: 3px solid #ccc;
  filter: blur(0);
}
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .banner-text {
    width: auto;
  }
}
.banner-text h1 {
  text-align: center;
  font-size: 66px;
  font-weight: bold;
  color: white;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  width: auto;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
