.contact-body {
  margin: auto;
  width: auto;
  height: auto;
  justify-content: center;
  padding-top: 25px;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: auto;
  height: 530px;
  /* background: white; */
  color: black;
  margin-bottom: 20px;
}

.content-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  width: 75%;
  margin: auto;
  padding-top: 1em;
  margin-bottom: 50px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
  margin-top: 20px;
}

@media (max-width: 320px) {
  .image-wrapper img {
    height: auto;
    width: 100%;
  }
}
