a.main-link {
  color: #fad3d8;
  text-decoration: none;
}

:root {
  --mainColor: red;
}

a {
  color: var(--mainColor);
  text-decoration: none;
}

a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
}

@supports not (-webkit-text-stroke: 2px red) {
  a:hover {
    text-shadow: 3px 3px 0 var(--mainColor), -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor), -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}
