a.main-link {
  color: #fad3d8;
  text-decoration: none;
}

mdl-layout_content {
  overflow: hidden;
}

body {
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
:root {
  --mainColor: red;
}
a {
  text-decoration: none;
  color: var(--mainColor);
}

a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
}

@supports not (-webkit-text-stroke: 2px red) {
  a:hover {
    text-shadow: 3px 3px 0 var(--mainColor), -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor), -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}
